In [6]:
path = "/Users/yaoling/OneDrive - NTNU/MASCOT_PhD/Data/Nidelva/July06/Data/"

import pandas as pd
data = pd.read_csv(path + "DataMerged.csv")
data.head()

,timestamp,lat,lon,x,y,z,d,sal,temp
0,1.625574e+09,63.452591,10.426506,402.269462,211.665154,4.920077,-0.061538,11.1125,16.7595
1,1.625574e+09,63.452597,10.426508,402.853950,211.780900,4.591500,-0.089700,11.5095,16.7295
2,1.625574e+09,63.452604,10.426515,403.682650,212.141050,4.437750,-0.068950,11.3835,16.7415
3,1.625574e+09,63.452612,10.426521,404.514650,212.422200,4.483900,-0.073500,11.7135,16.6970
4,1.625574e+09,63.452618,10.426528,405.230100,212.768350,4.470800,-0.079100,11.5590,16.7155